FULLPRO_ADDR=:8787
FULLPRO_DB=/data/fullpro.db
FULLPRO_COOKIE_NAME=fullpro_session
FULLPRO_COOKIE_SECURE=true
FULLPRO_PUBLIC_BASE_URL=https://tab.kekeio.com
FULLPRO_ALLOWED_ORIGIN=http://localhost:5173
FULLPRO_API_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
FULLPRO_ADMIN_ALLOWED_CIDRS=127.0.0.1/32,::1/128,192.168.0.0/16
FULLPRO_TRUSTED_PROXIES=127.0.0.1/32,::1/128
FULLPRO_AUTH_RATE_LIMIT=20
FULLPRO_AUTH_RATE_WINDOW_SECONDS=60
FULLPRO_PASSWORD_HASH_CONCURRENCY=2
